<div class="row">
  <div class="col-lg-12">
    <div class="input-group">
      <input type="text" class="form-control">
      <div class="input-group-btn">
        <button type="button" class="btn btn-success" data-toggle="dropdown">buscar</button>
      </div><!-- /btn-group -->
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->

<div class="row">
  <div class="col-lg-12">
    <h2>Info usuario</h2>
  </div>
  <div class="col-lg-3">
    <img class="img-thumbnail col-lg-12" src="http://www.101greatgoals.com/wp-content/uploads/2013/11/bean.jpg">
  </div>
  <div class="col-lg-9">
    <dl class=" col-lg-6">
        <dt class="text-muted"><h4><span class="glyphicon glyphicon-user"></span> Nombre</h4></dt>
        <dd>Sebastian Duran<br/><br/></dd>
        <dt class="text-muted"><h4><span class="glyphicon glyphicon-folder-open"></span> Carrera</h4></dt>
        <dd>Pulentologo.<br/><br/></dd>
        <dt class="text-muted"><h4><span class="glyphicon glyphicon-calendar"></span> Año ingreso</h4></dt>
        <dd>2012<br/><br/></dd>
    </dl>
    <dl class=" col-lg-6">
        <dt class="text-muted"><h4><span class="glyphicon glyphicon-calendar"></span> Ingreso semestre</h4></dt>
        <dd>primero<br/><br/></dd>        
        <dt class="text-muted"><h4><span class="glyphicon glyphicon-cloud"></span> Grupo</h4></dt>
        <dd>Los mas pulentosos<br/><br/></dd>        
        <dt class="text-muted"><h4><span class="glyphicon glyphicon-folder-close"></span> Seccion</h4></dt>
        <dd>1<br/><br/></dd>
      </dl>
  </div>

</div>