// Place all the styles related to the alumnos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
input.error{
	border-color: #b94a48;
}
span.error{
	font-size:11px;
	color:#b94a48;
}